<h1>Birds</h1>

<ul>
<% @birds.each do |bird| %>
    <li><%= bird.name %> - <%= bird.species %></li>
<% end %>
</ul>

<p align="center">
  <img width="500" src="https://curriculum-content.s3.amazonaws.com/js/rails-as-an-api/Image_16_BirdSighting.png">
</p>
